################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Data/.vs/Data
/Data/bin/Debug
/Data/obj
/Data.sln.DotSettings.user
/Data/Data.csproj.user
/Data/bin/Release
